<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="classes" name="Suite" thread-count="5">
	<test  name="Test">
		<classes>
			<class name="DeepaLearnings.Tests.SubmitOrderTest" />
			<class name="DeepaLearnings.Tests.ErrorValidationTest" />
		</classes>
	</test> 
	
	<!--<test name="Test1">
		<classes>
			<class name="DeepaLearnings.Tests.ErrorValidationTest" />
		</classes>
	</test> -->
</suite> 


