<?xml version="1.0" encoding="UTF-8"?>
<suite parallel ="test" name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="DeepaLearnings.Tests.SubmitOrderTest" />
		</classes>
	</test> 
	
	<test thread-count="5" name="Test1">
		<classes>
			<class name="DeepaLearnings.Tests.ErrorValidationTest" />
		</classes>
	</test> 
</suite> 
